<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <services>
      <configurator type="CoreyAndRick.Feature.ExperienceProfile.ExperienceProfileConfigurator, CoreyAndRick.Feature.ExperienceProfile" />
    </services>

    <experienceProfile>
      <providers>
        <contactService type="Sitecore.Cintel.ContactService.IContactService, Sitecore.Cintel" resolve="true"
                        patch:instead="contactService">
          <!-- Read details about Gravatar options here: https://en.gravatar.com/site/implement/images/ -->
          <options type="CoreyAndRick.Feature.ExperienceProfile.Models.GravatarOptions, CoreyAndRick.Feature.ExperienceProfile">
            <!-- Image size. Gravatars are always square. -->
            <size>170</size>
            <!-- Default image to use when user doesn't have a Gravatar set. See link above for more options. -->
            <defaultImage>robohash</defaultImage>
            <!-- If set to true, default image option will always be used, even if user has a Gravatar set. -->
            <forceDefault>false</forceDefault>
            <!-- Rating reflecting contents of the user's Gravatar. See link above for more options. -->
            <rating>g</rating>
          </options>
        </contactService>
      </providers>
    </experienceProfile>
  </sitecore>
</configuration>
